@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-figtree), ui-sans-serif, system-ui, sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-figtree), ui-sans-serif, system-ui, sans-serif;
}

@keyframes loading {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
